.menu {
  &__list {
    display: flex;
    align-items: center;
    gap: fluid(60, 20);
  }

  &__link {
    position: relative;
    font-weight: 500;
    letter-spacing: -0.02em;
    color: var(--color-dark);

    &::after {
      @include abs-center;

      content: '';
      width: calc(100% + 34px);
      height: 44px;
    }
  }

  &--mobile-overlay {
    @include mobile {
      position: fixed;
      z-index: var(--layer-mobile-menu);
      inset: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: var(--color-light);
      transition-duration: var(--transition-duration);

      &:not(.is-active) {
        @include hide;
      }
    }

    .menu__list {
      @include mobile {
        overflow-y: auto;
        flex-direction: column;
        padding-block: 30px;
      }
    }
  }

  &--footer {
    .menu__item {
      &:first-child {
        display: none;
      }
    }
  }
}
