.subscribe-card {
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: var(--section-padding-y);
    padding-block: var(--section-padding-y);
    padding-inline: 10px;
    text-align: center;
    background-image: url('../../assets/images/backgrounds/subscribe-card-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--color-cyan-alt);
    border-radius: var(--border-radius-l);

    @include mobile {
      border-radius: var(--border-radius);
    }
  }

  &__title {
    margin-bottom: 24px;
  }

  &__description {
    max-width: 620px;
    margin-bottom: 64px;
  }

  &__form {
    display: flex;
    gap: 10px;
    width: 100%;
    max-width: 480px;
    padding: 10px;
    background-color: var(--color-light);
    border-radius: var(--border-radius-xs);

    @include mobile {
      flex-direction: column;
    }
  }

  &__input {
    flex: 1;
    height: 60px;
    padding: 12px 22px;
    border: none;

    @include mobile {
      text-align: center;
    }

    &::placeholder {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: -0.02em;
      color: var(--color-dark-60);
    }

    &:focus {
      border-radius: calc(var(--border-radius-xs) / 2);
    }
  }
}
