.recipe-card {
  display: grid;
  row-gap: 24px;
  width: 100%;
  padding: 16px 16px 32px;
  background-image: var(--gradient);
  border-radius: var(--border-radius);

  &--alt {
    row-gap: 16px;
    padding: 0;
    background-image: none;

    .recipe-card__liked-icon {
      top: 16px;
      right: 16px;
    }

    .recipe-card__title {
      font-size: 18px;
    }
  }

  &__image-wrapper {
    position: relative;
  }

  &__liked-icon {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  &__image {
    width: 100%;
  }

  &__body {
    display: grid;
    row-gap: 24px;
  }
}
