.category-card {
  --categoryCardImageOffsetTop: 50px;

  padding-top: var(--categoryCardImageOffsetTop);

  &__body {
    --categoryCardColorStart: color-mix(
      in srgb,
      var(--categoryCardColor),
      transparent 100%
    );
    --categoryCardColorEnd: color-mix(
      in srgb,
      var(--categoryCardColor),
      transparent 90%
    );

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: fluid(50, 20);
    padding: 0 20px fluid(30, 20);
    background-image: linear-gradient(
      180deg,
      var(--categoryCardColorStart) 0%,
      var(--categoryCardColorEnd) 100%
    );
    border-radius: var(--border-radius);
  }

  &__image-wrapper {
    position: relative;
    margin-top: calc(var(--categoryCardImageOffsetTop) * -1);

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 20px;
      left: 20px;
      width: 100%;
      height: 100%;
      background: var(--catergodyCardImage) center / contain no-repeat;
      filter: blur(10px);
      opacity: 0.2;
    }
  }

  &__title {
    font-size: 18px;
    letter-spacing: -0.02em;
  }
}
