.slider-card {
  position: relative;
  display: flex;

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 620px;
    padding: 50px;
    background-color: var(--color-cyan);
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__description {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__extra {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__badge {
    position: absolute;
    top: 50px;
    left: calc(50% - 50px);
  }
}
