html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base), sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  color: var(--color-dark-60);
  background-color: var(--color-light);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.04em;
  color: var(--color-dark);
}

h1,
.h1 {
  @include fluid-text(64, 28);
}

h2,
.h2 {
  @include fluid-text(48, 24);
}

h3,
.h3 {
  @include fluid-text(36, 20);
}

h4,
.h4 {
  @include fluid-text(32, 18);
}

h5,
.h5 {
  @include fluid-text(24, 18);
}

h6,
.h6 {
  @include fluid-text(20, 16);

  line-height: 1.4;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: var(--color-accent);
  }

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  @include focus-visible;
}
