.author-card {
  display: flex;
  align-items: center;
  column-gap: 16px;
  line-height: 1;
  letter-spacing: -0.02em;

  &__body {
    display: grid;
    row-gap: 8px;
  }

  &__name {
    font-size: 16px;
    font-weight: 700;
  }

  &__date {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-dark-60);
  }
}
