.soc1als {
  @include mobile {
    margin-left: auto;
  }

  &__list {
    display: flex;
    align-items: center;
    column-gap: fluid(40, 20);
    color: var(--color-dark);
  }

  &__link {
    position: relative;
    display: flex;

    &::after {
      @include abs-center;
      @include square(48px);

      content: '';
    }
  }
}
