.instagram-feed {
  padding-block: var(--section-padding-y);

  &__inner {
    display: grid;
    row-gap: var(--section-padding-y);
    padding-bottom: var(--section-padding-y);
    background-image: var(--gradient);
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: fluid(24, 18);
    text-align: center;
  }

  &__description {
    max-width: 840px;
  }

  &__body {
    display: grid;
    justify-items: center;
    row-gap: var(--section-padding-y);
  }

  &__button {
    padding-inline: 32px;
  }
}
