.instagram-feed {
  display: grid;
  row-gap: var(--section-padding-y);
  padding-block: var(--section-padding-y);

  &__inner {
    display: grid;
    justify-items: center;
    row-gap: var(--section-padding-y);
    padding-bottom: var(--section-padding-y);
    background-image: var(--gradient);
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: fluid(24, 18);
    text-align: center;
  }

  &__description {
    max-width: 840px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
  }

  &__button {
    padding-inline: 32px;
  }
}
